@page
@model ncorerazor.Pages.EditModel

<h4>Languajes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Languajes.Id" />
            <div class="form-group">
                <label asp-for="Languajes.Languaje" class="control-label"></label>
                <input asp-for="Languajes.Languaje" class="form-control" />
                <span asp-validation-for="Languajes.Languaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Languajes.Official" class="control-label"></label>
                <input asp-for="Languajes.Official" class="form-control" />
                <span asp-validation-for="Languajes.Official" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
